body {
    text-align: center;
}

main {
    display: flex;
}

div {
    box-sizing: border-box;
}

#board {
    width: 800px;
    height: 800px;
    background-color: black;
    margin: auto;
    /* display: flex; */
    flex-wrap: wrap;
    /* align-items: flex-start; */
    align-content: center;
    padding: 1rem;
}

.row {
    height: 4.8%;
    display: flex;
}

.row > div {
    width: 5.26%;
    padding: 2%;
}

.wall {
    background-color: blue;
}

.road {
    background-color: black;
}

.food {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: white;
}

#pacman {
    background-color: yellow;
    align-items: center;
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin: 1px;
}

#pacman::after {
    content: '>';
    color: red;
}
  
.pacman-up {
    transform: rotate(-90deg);
}

.pacman-down {
    transform: rotate(90deg);
}

.pacman-left {
    transform: rotate(180deg);
}

.pacman-right {
    transform: rotate(0deg);
}

